.service-card {
    background: rgba(255, 255, 255, 0.08);
    padding: 35px;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    transition: 0.4s;
    border: 1px solid rgba(255, 255, 255, 0.08);
    cursor: pointer;
}

/* DESKTOP HOVER */
.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(56, 248, 136, 0.7);
}

/* MOBILE TOUCH EFFECT */
.service-card.active {
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(56, 248, 136, 0.7);
}

.service-card h2 {
    margin-bottom: 15px;
    color: #06b6d4;
}

.service-title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.service-text {
    text-align: center;
    color: #cbd5e1;
    font-size: 18px;
}